:root {
    --color-begin: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    place-items: center;
}

.color-square {
    margin: 0;
    padding: 0;
    height: 40vmax;
    width: 40vmax;
    background-color: var(--color-begin);
}